#### 1.1 Import Data and Required Packages
##### Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [14]:
# basic import 
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 

# modelling 
from sklearn.metrics import mean_squared_error , r2_score 
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.tree import DecisionTreeRegressor 
from sklearn.ensemble import RandomForestRegressor , AdaBoostRegressor 
from sklearn.svm import SVR 
from sklearn.linear_model import LinearRegression , Ridge , Lasso 
from sklearn.metrics import mean_absolute_error 
from sklearn.model_selection import RandomizedSearchCV 
from catboost import CatBoostRegressor 
from xgboost import XGBRegressor 
import warnings

In [15]:
df = pd.read_csv('data/stud.csv')

In [16]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [17]:
X = df.drop(columns=['math_score'],axis = 1)

In [18]:
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [19]:
print("Categories in 'gender' variable:     ",end=" " )
print(df['gender'].unique())

print("Categories in 'race_ethnicity' variable:  ",end=" ")
print(df['race_ethnicity'].unique())

print("Categories in'parental level of education' variable:",end=" " )
print(df['parental_level_of_education'].unique())

print("Categories in 'lunch' variable:     ",end=" " )
print(df['lunch'].unique())

print("Categories in 'test preparation course' variable:     ",end=" " )
print(df['test_preparation_course'].unique())

Categories in 'gender' variable:      ['female' 'male']
Categories in 'race_ethnicity' variable:   ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in'parental level of education' variable: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in 'lunch' variable:      ['standard' 'free/reduced']
Categories in 'test preparation course' variable:      ['none' 'completed']

In [20]:
y = df['math_score']

In [21]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

In [22]:
num_features = X.select_dtypes(exclude = "object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder , StandardScaler 
from sklearn.compose import ColumnTransformer 

numeric_transformer = StandardScaler() 
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEnoder" , oh_transformer , cat_features),
        ("StandardScaler" , numeric_transformer , num_features),
    ]
)

In [23]:
X = preprocessor.fit_transform(X)

In [24]:
X.shape

(1000, 19)

In [25]:
from sklearn.model_selection import train_test_split 

X_train , X_test , y_train , y_test = train_test_split(X,y,test_size = 0.2 , random_state = 42)
X_train.shape, X_test.shape

((800, 19), (200, 19))

In [26]:
def evaluate_model(true,predicted): 
    mae = mean_absolute_error(true , predicted)
    mse = mean_squared_error(true , predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true , predicted)
    return mae , rmse , r2_square

In [ ]:
models={
    "Linear Regression" : LinearRegression() ,
    "Lasso" : Lasso() ,
    "Ridge" : Ridge() ,
    "K-Neighbors Regressor" : KNeighborsRegressor() , 
    "Decision Tree" : DecisionTreeRegressor() ,
    "Random Forest Regressor" : RandomForestRegressor() , 
    "XGBRegressor" : XGBRegressor() , 
    "CatBoostRegressor" : CatBoostRegressor() , 
    "AdaBoostRegressor" : AdaBoostRegressor() 
}

model_list = []
r2_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train , y_train)